
#bg {
    background: -webkit-linear-gradient(right, #1e1c35, #1e1c35); 
}
.bg {
    
    background-image: url("https://cdn.pixabay.com/photo/2018/04/16/18/30/learn-3325483_960_720.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

