
<form action="" class="col-md-4 offset-4 mt-5 card card-body"#form="ngForm"(ngSubmit)="loginData(form)">
  <h1 class="text-center bg-info text-white">Form3</h1>
   <div class="form-group">
      <input type="name" name="name" id="name" class="form-control" placeholder="User Name"#name="ngModel" ngModel required>
       <div *ngIf="name.touched && name.invalid">
           <p class="alert alert-danger"*ngIf="name.errors.required">#Enter User Name</p>
       
       </div>
       </div>

       
       <div class="form-group">
           <input type="age" name="year" id="age" class="form-control" placeholder="User Age" #age="ngModel" ngModel required>   
          <div *ngIf="year.touched && year.invalid">
              <p class="alert alert-danger" *ngIf="year.errors.required">Enter Age</p>
  
  
          </div>
          </div>
          
           <p>Gender</p>
           <div class="container">

               <form action="/action_page.php">

                 <div class="form-check-inline">
                   <label class="form-check-label" for="radio1">
                     <input type="radio" class="form-check-input" id="radio1" name="optradio" value="java" checked>male
                   </label>
                 </div>
                 <div class="form-check-inline">
                   <label class="form-check-label" for="radio2">
                     <input type="radio" class="form-check-input" id="radio2" name="optradio" value="angular" checked>female
                   </label>
                 </div>
                <div class="form-check-inline">
                   <label class="form-check-label" for="radio1">
                     <input type="radio" class="form-check-input" id="radio1" name="optradio" value="sql" checked>others
                   </label>
                 </div>
                 
                
               </form>
             </div>


          
          <div class="form-group">
           <input type="uemail" name="uemail" id="uemail" class="form-control" placeholder="User Email" #uemail="ngModel" ngModel required>   
          <div *ngIf="uemail.touched && uemail.invalid">
              <p class="alert alert-danger" *ngIf="uemail.errors.required">Enter user email id</p>
  
  
          </div>
          </div>


          <div class="form-group">
            <input type="contact" name="contact" id="contact" class="form-control" placeholder="User Contact No." #contact="ngModel" ngModel required>   
           <div *ngIf="contact.touched && contact.invalid">
               <p class="alert alert-danger" *ngIf="contact.errors.required">Enter your mobile number</p>
   
   
           </div>
           </div>

          
          <div class="form-group">
           <input type="password" name="password" id="password" class="form-control" placeholder="Password" #password="ngModel" ngModel required>   
          <div *ngIf="password.touched && password.invalid">
              <p class="alert alert-danger" *ngIf="password.errors.required">Enter password</p>
  
  
          </div>
          </div>
          
          

          <div class="form-group">
            <input type="rpassword" name="rpassword" id="rpassword" class="form-control" placeholder="retype-password" #rpassword="ngModel" ngModel required>   
           <div *ngIf="rpassword.touched && rpassword.invalid">
               <p class="alert alert-danger" *ngIf="rpassword.errors.required">re-type password</p>
  
  
          </div>
          </div>    


   <div class="form-group">
       <button type="submit" class="btn btn-outline-primary float-right" [disabled]="form.invalid">Add User</button>
   </div>
</form>