<nav class="navbar navbar-expand-lg navbar-info bg-info ">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <ul class="navbar-nav mr-auto">
                     <li class="nav-item active">
                        <a class="nav-link text-light" routerLink="/home">Home </a>
                     </li>
                     <li class="nav-about">
                        <a class="nav-link text-light" routerLink="/about">About </a>
                     </li>
                     <li class="nav-help">
                       <a class="nav-link text-light" routerLink="/help">Help</a>
                     </li>
                     <li class="nav-property-binding">
                       <a class="nav-link text-light" routerLink="/property-binding">Property Binding</a>
                     </li>
                     <li class="nav-property-binding">
                      <a class="nav-link text-light" routerLink="/event-binding">Event-Binding</a>
                     </li>
                     <li class="nav-two-way">
                       <a class="nav-link text-light" routerLink="/two-way">Two-Way-Binding</a>
                    </li>
                    <li class="nav-ngfor ">
                         <a class="nav-link text-light" routerLink="/ngfor">NgFor</a>
                    </li>
                    <li class="nav-ngfor">
                        <a class="nav-link text-light" routerLink="/ngswitch">NgSwitch</a>
                   </li>
                   <li class="nav-ngfor">
                    <a class="nav-link text-light" routerLink="/form1">Form1</a>
                  </li>
                  <li class="nav-ngfor">
                    <a class="nav-link text-light" routerLink="/form2">Form2</a>
                  </li>
                  <li class="nav-ngfor">
                    <a class="nav-link text-light" routerLink="/form3">Form3</a>
                  </li>
                  <li class="nav-ngfor">
                    <a class="nav-link text-light" routerLink="/form4">Form4</a>
                  </li>
                  <li class="nav-ngfor">
                      <a class="nav-link text-light" routerLink="/reactive-form">Reactive_Form</a>
                    </li>
                    <li class="nav-ngfor">
                        <a class="nav-link text-light" routerLink="/parent">Parent</a>
                    </li>
                    <li class="nav-ngfor">
                      <a class="nav-link text-light" routerLink="/comment-details">Comment_Details</a>
                  </li>
                  <li class="nav-item active ">
                    <a class="nav-link text-light" routerLink="/login">Log_In</a>
                  </li>
                  <li class="nav-item active ">
                    <a class="nav-link text-light" routerLink="/register">Register</a>
                  </li>

               </ul>
    </div>
  </nav>