<div class="card-deck" >
  <div class="card border-light" style="max-width: 440px;">
    <div class="row no-gutters">
      <div class="col-md-3">
        <img src="https://visualpharm.com/assets/489/Open%20Book-595b40b65ba036ed117d44fc.svg" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">BOOK</h5>
          <div class=" bg-transparent border-success"><a routerLink="/librarian-add-book">add </a>  </div>
          <div class=" bg-transparent border-success"><a routerLink="/librarian-view-book">View</a></div>
          <div class=" bg-transparent border-success"><a routerLink="/librarian-track-book">Track Book</a></div>
        </div>
      </div>
    </div>
  </div>


  <div class="card border-light" style="max-width: 440px;">
    <div class="row  no-gutters">
      <div class="col-md-3">
        <img src="https://visualpharm.com/assets/67/Graduation%20Cap-595b40b65ba036ed117d443f.svg" class="card-img" alt="...">
      </div>
      <div class="col-md-5">
        <div class="card-body">
          <h5 class="card-title">STUDENT</h5>
          <div class=" bg-transparent border-success"><a routerLink="/librarian-verify-student">verify students</a></div>
          <div class=" bg-transparent border-success"><a routerLink="/librarian-view-student">view student</a></div>
          <div class=" bg-transparent border-success"><a routerLink="/librarian-issue-book">issue book</a></div>
        
          
        </div>
      </div>
    </div>
  </div>



















    

</div>